<header>
	<h1>Cornucopia</h1>
  	<p>
	Because </br>
	potlucks are supposed to be easy, </br>
	planning with friends should be fun, </br>	headaches are not invited to parties, </br>
	& how you celebrate community matters. </br>
					We are here to help. </br>
	</p>
</header>
<div id="homecontainer">
	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-8">
	  </div>
	  <div class="col-xs-6 col-sm-6 col-md-4"></div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
	  <div class="col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
	  <!-- Optional: clear the XS cols if their content doesn't match in height -->
	  <div class="clearfix visible-xs"></div>
	  <div class="col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
	</div>
</div>

	user id: <%= session[:user_id] %>