@import 'bootstrap';

$maincolor: #338036;
$accentcolor: #D9DEDA;



body {
	background-color: $maincolor;
   color: $accentcolor;
   font-family: 'Gilda Display', serif;
}

#container {
	background-color: $maincolor;
	width: 800px;
	margin: 0 auto;
	font-family: 'Gilda Display', serif;
	color: $accentcolor;
}

nav {
   background-color: $accentcolor;
   font-color: $maincolor;
   padding: 10px;
}

ul li {
   font-family: 'Gilda Display', serif;
   color: black;
   display: inline;
   padding: 0 10px 0 10px;
}

a:link, a:visited, a:disabled {
   color: $maincolor;
}

/*.row div {
	border: 1px solid 
} */

ul {
	list-style-type: none;
	display: inline;
}

#homecontainer { 
   font: $accentcolor;  
}


header {
   padding: 20px 0 20px 0;
   background: -webkit-radial-gradient(#44AD48, $maincolor, #29662B); /* Safari */
   background: -o-radial-gradient(#44AD48, $maincolor, #29662B); /* For Opera 11.1 to 12.0 */
   background: -moz-radial-gradient(#44AD48, $maincolor, #29662B); /* For Firefox 3.6 to 15 */
   background: radial-gradient(#44AD48, $maincolor, #29662B); /* Standard syntax */
}

h1 {
   padding-top: 20px;
   color: $accentcolor;
   font-family: 'Rock Salt', cursive;
   font-size: 64px;
   margin: 0 auto;
   text-align: center;
}

header p {
   padding: 40px 0 40px 0;
   text-align: center;
   margin: 0 auto;
   font-family: 'Gilda Display', serif;
}

